.App {
  text-align: center;
}

.memos-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
}

.btns-wrapper {
  display: flex;
  flex: 1;
  margin: 3%;
  justify-content: center;
}
