.memo-tile-wrapper {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 1px solid black;
}

.text-and-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.updated-popup .updated-popup {
  visibility: hidden;
}

.updated-popup .show {
  visibility: visible;
  border: 1px solid black;
  background-color: green;
  color: white;
  animation: fadeIn, fadeOut;
  animation-duration: 1s, 1s;
  animation-delay: 0ms, 1200ms;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.delete-btn {
  justify-content: flex-end;
  background-color: rgb(228, 51, 12);
  color: white;
  border-radius: 5px;
}

.char-limit-warning {
  font-size: x-small;
  align-self: right;
  color: red;
}

textarea {
  outline: none;
  padding: none;
  width: 90%;
  resize: none;
  border: none;
}

textarea:focus {
  border: 1px solid grey;
}

.title-input {
  font-weight: bold;
  height: 20%;
}

.body-input {
  height: 70%;
}
