.sort-btn-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
  margin: 1%;
}

.sort-btn {
  width: max-content;
  height: fit-content;
}

.sort-options-wrapper {
  display: none;
  position: absolute;
}

.sort-btn-wrapper:hover .sort-options-wrapper {
  display: block;
}
